.product {
    width: 300px;
    height: 508px;
    border: 2px solid blue;
    border-radius: 10px;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.product img {
    width: 286px;
    height: 286px;
    border-radius: 10px;
    margin: 8px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.product-info {
    padding: 8px;
}

.btn-cart {
    width: 100%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.0125em;
    background-color: #d06464;
    color: black;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    -ms-border-radius: 0 0 8px 8px;
    -o-border-radius: 0 0 8px 8px;
}

.btn-cart:hover {
    background-color: #cfc429;
}