.review-container {

    margin: 50px auto;
}

.proced-Link {
    text-decoration: none;
}

.btnproced {
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    background-color: rgb(246, 103, 55);
}